<!doctype html>
<html ng-app="optionsClient">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Nav Tabs -->
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
          <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a></li>
      </ul>

      <!-- Tab Panes -->
      <div class="tab-content" data-ng-controller="mainController">
          <div role="tabpanel" class="tab-pane active" id="login">
              <h2>Login</h2>
              <form ng-submit="login()">
                  <div class="form-group">
                      <label for="l_username">Username:</label>
                      <input type="text" class="control-form" id="l_username" name="l_username" />
                  </div>
                  <div class="form-group">
                      <label for="l_password">Password:</label>
                      <input type="password" class="control-form" id="l_password" name="l_password" />
                  </div>
                  <input type="submit" value="Login" id="loginSubmit" class="btn btn-primary" />
              </form>

              <div class="message">
                  {{message}}
              </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="register">
              <h2>Register</h2>
              <form ng-submit="register()">
                  <div class="form-group">
                      <label for="r_email">Email:</label>
                      <input type="email" class="control-form" id="r_email" name="r_email" />
                  </div>
                  <div class="form-group">
                      <label for="r_username">Username:</label>
                      <input type="text" class="control-form" id="r_username" name="r_username" />
                  </div>
                  <div class="form-group">
                      <label for="password">Password:</label>
                      <input type="password" class="control-form" id="r_password" name="r_password" />
                  </div>
                  <div class="form-group">
                      <label for="r_cpassword">Confirm Password:</label>
                      <input type="password" class="control-form" id="r_cpassword" name="r_cpassword" />
                  </div>
                  <input type="submit" value="Register" id="registerSubmit" class="btn btn-primary" />
              </form>

              <div class="message">
                  {{message}}
              </div>
          </div>

          <div id="createChoice" ng-show="ChoiceForm">
              <h2>Create a Choice</h2>
              <form ng-submit="choices()">
                  <div class="form-group">
                      <label for="YearTerm">Term:</label>
                      <select id="YearTerm" name="YearTerm" class="form-control" ng-model="selectedYearTerm" ng-options="item.value as item.text for item in YearTerm track by item.value">
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="StudentId">Student ID:</label>
                      <input value="{{StudentId}}" id="StudentId" name="StudentId" class="form-control" readonly="readonly" />
                  </div>

                  <div class="form-group">
                      <label for="FirstName">First Name:</label>
                      <input id="FirstName" name="FirstName" class="form-control" />
                  </div>

                  <div class="form-group">
                      <label for="LastName">Last Name:</label>
                      <input id="LastName" name="LastName" class="form-control" />
                  </div>

                  <div class="form-group">
                      <label for="FirstOption">First Option:</label>
                      <select id="FirstOption" name="FirstOption" class="form-control" ng-model="selectedOption" ng-options="item.value as item.text for item in Options track by item.value">
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="SecondOption">Second Option:</label>
                      <select id="SecondOption" name="SecondOption" class="form-control" ng-model="selectedOption2" ng-options="item.value as item.text for item in Options2 track by item.value">
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="ThirdOption">Third Option:</label>
                      <select id="ThirdOption" name="ThirdOption" class="form-control" ng-model="selectedOption3" ng-options="item.value as item.text for item in Options3 track by item.value">
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="FourthOption">Fourth Option:</label>
                      <select id="FourthOption" name="FourthOption" class="form-control" ng-model="selectedOption4" ng-options="item.value as item.text for item in Options4 track by item.value">
                      </select>
                  </div>
                  <input type="submit" value="Create Choice" id="choiceSubmit" class="btn btn-primary" />
              </form>

              <div class="message">
                  {{message}}
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
